# Bitnami Vault Helm Values
# HA Vault with Raft storage on Ceph RBD

global:
  storageClass: "rook-ceph-block"
  imagePullSecrets:
    - name: dockerhub-helm-cred

tls:
  enabled: false

server:
  enabled: true

  ha:
    enabled: true
    raft:
      enabled: true

  authDelegator:
    enabled: true

  standalone:
    enabled: false

  dataStorage:
    size: 10Gi
    storageClass: "rook-ceph-block"
    accessModes:
      - ReadWriteOnce

ingress:
  enabled: false

