apiVersion: v1
kind: ConfigMap
metadata:
  name: keepalived-config-cp1
  namespace: keepalived
data:
  keepalived.conf: |
    global_defs {
      router_id LVS_KUBERNETES
    }

    vrrp_instance VI_CONTROL_PLANE {
      state MASTER
      interface eno1
      virtual_router_id 51
      priority 200          # MASTER
      advert_int 1
      authentication {
        auth_type PASS
        auth_pass CP_VipSecret
      }
      virtual_ipaddress {
        10.0.20.10/24
      }
    }

