apiVersion: v1
kind: ConfigMap
metadata:
  name: keepalived-config-cp3
  namespace: keepalived
data:
  keepalived.conf: |
    global_defs {
      router_id LVS_KUBERNETES
    }

    vrrp_script chk_apiserver {
      script "curl --silent --max-time 1 https://127.0.0.1:6443/healthz -k | grep -q ok"
      interval 2
      fall 3
      rise 1
    }

    vrrp_instance VI_CONTROL_PLANE {
      state BACKUP
      interface eno1
      virtual_router_id 51
      priority 100          # Backup2
      advert_int 1
      nopreempt              # prevents fighting if master returns (optional)
      authentication {
        auth_type PASS
        auth_pass CP_VipSecret
      }
      virtual_ipaddress {
        10.0.20.10/24
      }
      track_script {
        chk_apiserver
      }
    }

