apiVersion: v1
kind: ConfigMap
metadata:
  name: keepalived-config-cp2
  namespace: keepalived
data:
  keepalived.conf: |
    global_defs {
      router_id LVS_KUBERNETES
    }

    vrrp_script chk_apiserver {
      script "/bin/sh -c 'curl -k -f https://localhost:6443/healthz || exit 1'"
      interval 2
      weight -2
      fall 3
      rise 2
    }

    vrrp_instance VI_CONTROL_PLANE {
      state BACKUP
      interface eno1
      virtual_router_id 51
      priority 150          # Backup1
      advert_int 1
      nopreempt              # prevents fighting if master returns (optional)
      authentication {
        auth_type PASS
        auth_pass CP_VipSecret
      }
      virtual_ipaddress {
        10.0.20.10/24
      }
      track_script {
        chk_apiserver
      }
    }

